EDSN2026/Web References/EndOfSupply/EndOfSupplyRequest_1p0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ccma="urn:nedu:edsn:data:endofsupplyrequest:1:standard" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:nedu:edsn:data:endofsupplyrequest:1:standard" version="1p0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="EndOfSupplyRequestEnvelope" type="ccma:EndOfSupplyRequestEnvelope" />
  <xsd:complexType name="EndOfSupplyRequestEnvelope">
    <xsd:sequence>
      <xsd:element name="EDSNBusinessDocumentHeader" type="ccma:EndOfSupplyRequestEnvelope_EDSNBusinessDocumentHeader" />
      <xsd:element name="Portaal_Content" type="ccma:EndOfSupplyRequestEnvelope_Portaal_Content">
        <xsd:annotation>
          <xsd:documentation>Inhoud van een Portaal-bericht. Is een container-element op het hoogste niveau en wordt in elk bericht toegepast.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EndOfSupplyRequestEnvelope_EDSNBusinessDocumentHeader">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="ContentHash" type="ccma:EndOfSupplyRequestEnvelope_Text">
        <xsd:annotation>
          <xsd:documentation>Hash calculation based on business document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="ConversationID" type="ccma:EndOfSupplyRequestEnvelope_Identifier">
        <xsd:annotation>
          <xsd:documentation>This identifier is used to identify all document instances related to a specific business process resulting from an initial service request</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="CorrelationID" type="ccma:EndOfSupplyRequestEnvelope_Identifier">
        <xsd:annotation>
          <xsd:documentation>This identifier is used to identify the document instances related to a specific asynchronous process</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreationTimestamp" type="ccma:EndOfSupplyRequestEnvelope_DateTime">
        <xsd:annotation>
          <xsd:documentation>Timestamp when document was created</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="DocumentID" type="ccma:EndOfSupplyRequestEnvelope_Text">
        <xsd:annotation>
          <xsd:documentation>This identifier is used to uniquely identify the business document on a functional level</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="ExpiresAt" type="ccma:EndOfSupplyRequestEnvelope_DateTime">
        <xsd:annotation>
          <xsd:documentation>Timestamp indication the expiration of this request</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MessageID" type="ccma:EndOfSupplyRequestEnvelope_Identifier">
        <xsd:annotation>
          <xsd:documentation>UUID voor het uniek identificeren van elke business document instantie. De UUID wordt uitgegeven door de infrastructuur.
Deze identifier is verplicht.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="ProcessTypeID" type="ccma:EndOfSupplyRequestEnvelope_Text">
        <xsd:annotation>
          <xsd:documentation>This identifier is used to identify the process type where a document instance belongs to</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="RepeatedRequest" type="ccma:EndOfSupplyRequestEnvelope_Identifier">
        <xsd:annotation>
          <xsd:documentation>Correlates message or service with all other messages and service calls related to the same business process</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="TestRequest" type="ccma:EndOfSupplyRequestEnvelope_Indicator">
        <xsd:annotation>
          <xsd:documentation>Indicates if this is a test request</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Destination" type="ccma:EndOfSupplyRequestEnvelope_EDSNBusinessDocumentHeader_Destination" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Manifest" type="ccma:EndOfSupplyRequestEnvelope_EDSNBusinessDocumentHeader_Manifest">
        <xsd:annotation>
          <xsd:documentation>Aangave van bijlagen en gerelateerde documenten.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Source" type="ccma:EndOfSupplyRequestEnvelope_EDSNBusinessDocumentHeader_Source">
        <xsd:annotation>
          <xsd:documentation>Zender van een bericht.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EndOfSupplyRequestEnvelope_EDSNBusinessDocumentHeader_Destination">
    <xsd:sequence>
      <xsd:element name="Receiver" type="ccma:EndOfSupplyRequestEnvelope_EDSNBusinessDocumentHeader_Destination_Receiver">
        <xsd:annotation>
          <xsd:documentation>Ontvanger van een bericht.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="Service" type="ccma:EndOfSupplyRequestEnvelope_EDSNBusinessDocumentHeader_Destination_Service">
        <xsd:annotation>
          <xsd:documentation>Service to be consumed</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EndOfSupplyRequestEnvelope_EDSNBusinessDocumentHeader_Destination_Receiver">
    <xsd:annotation>
      <xsd:documentation>Ontvanger van een bericht.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="Authority" type="ccma:EndOfSupplyRequestEnvelope_Text">
        <xsd:annotation>
          <xsd:documentation>Descriptor that qualifies the identifier used to identify the receiving party</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="ContactTypeIdentifier" type="ccma:EndOfSupplyRequestEnvelope_Text">
        <xsd:annotation>
          <xsd:documentation>Role in this business process</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReceiverID" type="ccma:EndOfSupplyRequestEnvelope_Identifier">
        <xsd:annotation>
          <xsd:documentation>Descriptor with information to identify this party</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EndOfSupplyRequestEnvelope_EDSNBusinessDocumentHeader_Destination_Service">
    <xsd:annotation>
      <xsd:documentation>Service to be consumed</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="ServiceMethod" type="ccma:EndOfSupplyRequestEnvelope_Text">
        <xsd:annotation>
          <xsd:documentation>Identifies a process within the service that processes on the business document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="ServiceName" type="ccma:EndOfSupplyRequestEnvelope_Text">
        <xsd:annotation>
          <xsd:documentation>Sender description of service to be carried out on the business document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EndOfSupplyRequestEnvelope_EDSNBusinessDocumentHeader_Manifest">
    <xsd:annotation>
      <xsd:documentation>Aangave van bijlagen en gerelateerde documenten.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="NumberofItems" type="ccma:EndOfSupplyRequestEnvelope_Numeric">
        <xsd:annotation>
          <xsd:documentation>Number of associated items</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="ManifestItem" type="ccma:EndOfSupplyRequestEnvelope_EDSNBusinessDocumentHeader_Manifest_ManifestItem">
        <xsd:annotation>
          <xsd:documentation>Bevat informatie over het gereferenceerde item.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EndOfSupplyRequestEnvelope_EDSNBusinessDocumentHeader_Manifest_ManifestItem">
    <xsd:annotation>
      <xsd:documentation>Bevat informatie over het gereferenceerde item.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="ccma:EndOfSupplyRequestEnvelope_Text">
        <xsd:annotation>
          <xsd:documentation>Text description of the item</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="LanguageCode" type="ccma:EndOfSupplyRequestEnvelope_Text">
        <xsd:annotation>
          <xsd:documentation>ISO 639 language code of the item</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MimeTypeQualifierCode" type="ccma:EndOfSupplyRequestEnvelope_Text">
        <xsd:annotation>
          <xsd:documentation>MIME Media Types Code describing the content of the item</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UniformResourceIdentifier" type="ccma:EndOfSupplyRequestEnvelope_Text">
        <xsd:annotation>
          <xsd:documentation>URI of the item
Identifier voor locatie en naam van een attachment</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EndOfSupplyRequestEnvelope_EDSNBusinessDocumentHeader_Source">
    <xsd:annotation>
      <xsd:documentation>Zender van een bericht.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="Authority" type="ccma:EndOfSupplyRequestEnvelope_Text">
        <xsd:annotation>
          <xsd:documentation>Descriptor that qualifies the identifier used to identify the sending party</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="ContactTypeIdentifier" type="ccma:EndOfSupplyRequestEnvelope_Text">
        <xsd:annotation>
          <xsd:documentation>Role in this business process</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SenderID" type="ccma:EndOfSupplyRequestEnvelope_Identifier">
        <xsd:annotation>
          <xsd:documentation>Descriptor with information to identify this party</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EndOfSupplyRequestEnvelope_Portaal_Content">
    <xsd:annotation>
      <xsd:documentation>Inhoud van een Portaal-bericht. Is een container-element op het hoogste niveau en wordt in elk bericht toegepast.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Portaal_MeteringPoint" type="ccma:EndOfSupplyRequestEnvelope_Portaal_Content_Portaal_MeteringPoint">
        <xsd:annotation>
          <xsd:documentation>E??n of meer verbindingen tussen een net en een onroerende zaak als bedoeld in artikel 16, onderdelen a tot en met d, van de Wet waardering onroerende zaken. 
Toelichting: Portaal-MeteringPoint bevat alle eigenschappen van een aansluiting die voor Portaal relevant kunnen zijn.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EndOfSupplyRequestEnvelope_Portaal_Content_Portaal_MeteringPoint">
    <xsd:annotation>
      <xsd:documentation>E??n of meer verbindingen tussen een net en een onroerende zaak als bedoeld in artikel 16, onderdelen a tot en met d, van de Wet waardering onroerende zaken. 
Toelichting: Portaal-MeteringPoint bevat alle eigenschappen van een aansluiting die voor Portaal relevant kunnen zijn.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="EANID" type="ccma:EndOfSupplyRequestEnvelope_GSRNEANCode">
        <xsd:annotation>
          <xsd:documentation>Uniek identificatienummer conform de Europese Artikel Nummering voor de aansluiting (LDT).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GridOperator_Company" type="ccma:EndOfSupplyRequestEnvelope_Portaal_Content_Portaal_MeteringPoint_GridOperator_Company">
        <xsd:annotation>
          <xsd:documentation>Elektriciteit: een vennootschap die op grond van artikel 10, 13 of 14 van de Elektriciteitswet is aangewezen voor het beheer van een of meer netten.
Gas: een vennootschap die op grond van artikel 2 van de Gaswet is aangewezen voor het beheer van een of meer gastransportnetten.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MPCommercialCharacteristics" type="ccma:EndOfSupplyRequestEnvelope_Portaal_Content_Portaal_MeteringPoint_MPCommercialCharacteristics">
        <xsd:annotation>
          <xsd:documentation>Commerci??le kenmerken van een aansluiting.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Portaal_Mutation" type="ccma:EndOfSupplyRequestEnvelope_Portaal_Content_Portaal_MeteringPoint_Portaal_Mutation">
        <xsd:annotation>
          <xsd:documentation>Wijziging in een bestaande situatie. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EndOfSupplyRequestEnvelope_Portaal_Content_Portaal_MeteringPoint_GridOperator_Company">
    <xsd:annotation>
      <xsd:documentation>Elektriciteit: een vennootschap die op grond van artikel 10, 13 of 14 van de Elektriciteitswet is aangewezen voor het beheer van een of meer netten.
Gas: een vennootschap die op grond van artikel 2 van de Gaswet is aangewezen voor het beheer van een of meer gastransportnetten.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="ccma:EndOfSupplyRequestEnvelope_GLNEANCode">
        <xsd:annotation>
          <xsd:documentation>Unieke identificatie van de marktpartij (LDT).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EndOfSupplyRequestEnvelope_Portaal_Content_Portaal_MeteringPoint_MPCommercialCharacteristics">
    <xsd:annotation>
      <xsd:documentation>Commerci??le kenmerken van een aansluiting.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="BalanceSupplier_Company" type="ccma:EndOfSupplyRequestEnvelope_Portaal_Content_Portaal_MeteringPoint_MPCommercialCharacteristics_BalanceSupplier_Company">
        <xsd:annotation>
          <xsd:documentation>Een organisatorische eenheid die zich bezighoudt met het leveren van elektriciteit en/of gas.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EndOfSupplyRequestEnvelope_Portaal_Content_Portaal_MeteringPoint_MPCommercialCharacteristics_BalanceSupplier_Company">
    <xsd:annotation>
      <xsd:documentation>Een organisatorische eenheid die zich bezighoudt met het leveren van elektriciteit en/of gas.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="ccma:EndOfSupplyRequestEnvelope_GLNEANCode">
        <xsd:annotation>
          <xsd:documentation>Unieke identificatie van de marktpartij (LDT).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EndOfSupplyRequestEnvelope_Portaal_Content_Portaal_MeteringPoint_Portaal_Mutation">
    <xsd:annotation>
      <xsd:documentation>Wijziging in een bestaande situatie. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="ExternalReference" type="ccma:EndOfSupplyRequestEnvelope_ReferenceTextType">
        <xsd:annotation>
          <xsd:documentation>Eigen referentie van de initi??rende marktpartij ter vereenvoudiging van zijn eigen interne procesgang. Max. 60 karakters (LDT).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MutationDate" type="ccma:EndOfSupplyRequestEnvelope_Date">
        <xsd:annotation>
          <xsd:documentation>De datum waarop de wijziging van de verantwoordelijkheden zal worden ge??ffectueerd. De wijzigingen worden ge??ffectueerd om 00:00 uur op mutatiedatum en zijn voor de gehele dag geldig (elektriciteitsdag 00:00 uur / gasdag 06:00 uur) (LDT).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="EndOfSupplyRequestEnvelope_Date">
    <xsd:annotation>
      <xsd:documentation>Datum (date).</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="EndOfSupplyRequestEnvelope_DateTime">
    <xsd:annotation>
      <xsd:documentation>Datum/tijd (dateTime).</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime" />
  </xsd:simpleType>
  <xsd:simpleType name="EndOfSupplyRequestEnvelope_GLNEANCode">
    <xsd:annotation>
      <xsd:documentation>Global Location Number (GLN) conform de Europese Artikel Nummering.
</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="13" />
      <xsd:pattern value="[0-9]{13}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EndOfSupplyRequestEnvelope_GSRNEANCode">
    <xsd:annotation>
      <xsd:documentation>Global Service Relation Number (GSRN) conform de Europese Artikel Nummering.
</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="18" />
      <xsd:pattern value="[0-9]{18}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EndOfSupplyRequestEnvelope_Identifier">
    <xsd:annotation>
      <xsd:documentation>Identifier (string).</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="EndOfSupplyRequestEnvelope_Indicator">
    <xsd:annotation>
      <xsd:documentation>Indicator (string).</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="EndOfSupplyRequestEnvelope_Numeric">
    <xsd:annotation>
      <xsd:documentation>Nummer (getal).</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal" />
  </xsd:simpleType>
  <xsd:simpleType name="EndOfSupplyRequestEnvelope_ReferenceTextType">
    <xsd:annotation>
      <xsd:documentation>Referentie (string).</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="60" />
      <xsd:minLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EndOfSupplyRequestEnvelope_Text">
    <xsd:annotation>
      <xsd:documentation>Tekst (string).</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
</xsd:schema>